<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stjepan.zavrsnirad_v1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".stetho.MyApplication"
        android:label="@string/app_name">


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity

            android:name=".FoodListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN"/> -->
                <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".menu.MenuActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <provider
            android:name=".data.FoodProvider"
            android:authorities="com.example.stjepan.zavrsnirad_v1"
            android:exported="false" />

        <activity
            android:name=".menu.LunchActivity"
            android:noHistory="true"
            android:parentActivityName=".menu.MenuActivity"

            />
        <activity
            android:name=".menu.DinnerActivity"
            android:noHistory="true"
            android:parentActivityName=".menu.MenuActivity"/>
        <activity android:name=".TotalActivity" />
        <activity
            android:name=".menu.BreakfastActivity"
            android:noHistory="true"
            android:parentActivityName=".menu.MenuActivity"/>


        <activity
            android:name=".HistoryActivity"
            android:parentActivityName=".MainActivity">
        </activity>
    </application>



</manifest>