<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stjepan.zavrsnirad_v1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FoodListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity">


            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".EditorActivity"
            android:parentActivityName=".FoodListActivity"
            android:theme="@style/EditorTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FoodListActivity" />
        </activity>
        <activity
            android:name=".menu.MenuActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <provider
            android:name=".data.FoodProvider"
            android:authorities="com.example.stjepan.zavrsnirad_v1"
            android:exported="false" />

        <activity android:name=".menu.LunchActivity" />
        <activity android:name=".menu.DinnerActivity" />
        <activity android:name=".TotalActivity" />
        <activity android:name=".menu.BreakfastActivity" />
    </application>

</manifest>